<% if @flights.any? %>  
  <% @flights.each do |flight| %>
    <div class="hero-unit origin<%= flight.departure_airport.code %> destination<%= flight.arrival_airport.code %> <%= flight.departure_time.strftime('%B') %> <%= "epic" if flight.epic? %>">

      <div class="top-half">
        <div class="price">
          $<%= flight.rounded_price %>
        </div>
        <% if flight.epic? %>
          <div class="epic-word label label-warning">EPIC</div>
        <% end %>
        <div class="savings">
          Save <strong><%= "$#{(flight.cheapest_price - flight.price) / 100 + 1}" if flight.epic? %></strong> <%= "off the cheapest flight, and " if flight.epic? %><strong>$<%= (flight.original_price / 100 + 1) - flight.rounded_price %></strong> off the <%= link_to "original flight", offsite_flight_path(flight, original: true), :target => "_blank" %>
        </div>
      </div>

      <div class="bottom-half">
        <table>
          <tr>
            <td><strong>Depart</strong></td>
            <td><%= flight.departure_airport.name %></td>
            <td><%= flight.departure_time.strftime('%B %d, %Y') %></td>
            <td><%= flight.departure_time.strftime("%I:%M%p") %></td>
          </tr>
          <tr>
            <td><strong>Arrive</strong></td>
            <td><%= flight.arrival_airport.name %></td>
            <td><%= flight.arrival_time.strftime('%B %d, %Y') %></td>
            <td><%= flight.arrival_time.strftime("%I:%M%p") %></td>
          </tr>
        </table>
        <div class="below-table">
          <form action="<%= offsite_flight_path(flight, original: false) %>" target="_blank">
            <button type="submit" class="btn btn-success btn-large book-button" title="Book the flight" data-content="This will lead you to Travelocity, our affiliate partner.  FlyShortcut makes $3 off Travelocity if you purchase from them - we don't make money off you!">Book</button>
          </form>
          <div class="flight-no"><%= flight.airline %> Flt: <%= flight.flight_no %></div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="no-flights">Sorry - no flights for this particular filter!</div>
<% end %>