<% unless @empty_search %>
  <% @flights.each do |flight| %>
    <div class="hero-unit">
      <div class="top-half">
        <div class="price">
          $<%= flight.rounded_price %>
        </div>
        <% if flight.epic? %>
          <div class="epic-word label label-warning">EPIC</div>
        <% end %>
        <div class="savings">
          Save <strong><%= "$#{(flight.cheapest_price - flight.price) / 100 + 1}" if flight.epic? %></strong> <%= "off the cheapest flight, and " if flight.epic? %><strong>$<%= (flight.original_price / 100 + 1) - flight.rounded_price %></strong> off the <%= link_to "original flight", offsite_flight_path(flight, original: true), :target => "_blank" %>
        </div>
        <div class="social-buttons">
          <div class="twitter-button"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://flyshortcut.com" data-text="What?! I just found <%= flight.epic? ? "an epic flight" : "a flight" %> from <%= flight.departure_airport.code %> to <%= flight.arrival_airport.code %> for $<%= flight.rounded_price %>! on" data-size="large" data-count="none" data-hashtags="flyshortcut">Tweet</a></div>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>

      <div class="bottom-half">
        <table>
          <tr>
            <td><strong>Depart</strong></td>
            <td><%= flight.departure_airport.name %></td>
            <td><%= flight.departure_time.strftime('%B %d, %Y') %></td>
            <td><%= flight.departure_time.strftime("%I:%M%p") %></td>
          </tr>
          <tr>
            <td><strong>Arrive</strong></td>
            <td><%= flight.arrival_airport.name %></td>
            <td><%= flight.arrival_time.strftime('%B %d, %Y') %></td>
            <td><%= flight.arrival_time.strftime("%I:%M%p") %></td>
          </tr>
        </table>
        <div class="below-table">
          <form action="<%= offsite_flight_path(flight, original: false) %>" target="_blank">
            <button type="submit" class="btn btn-success btn-large book-button" title="Book the flight" data-content="This will lead you to Travelocity, our affiliate partner.  FlyShortcut makes $3 off Travelocity if you purchase from them - we don't make money off you!">Book</button>
          </form>
          <div class="flight-no"><%= flight.airline %> Flt: <%= flight.flight_no %></div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="hero-unit no-flights"><h2>Ermahgerd! No flights?</h2>
    <div><h3>1. Try adjusting your filters.</h3></div>
    <div><h3>2. Still no luck? Sign up for notifications on new routes!</h3></div>
    <div class="inline-email">
      <form>
        <input type="text" name="user[email]" placeholder="Email" id="second-email">
        <button value="Sign up" class="btn btn-success", id="second-email-button">Sign up</button>
      </form>
    </div>
    <div class="inline-flash flash hide">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}", class: "alert alert-#{name}" %>
      <% end %>
    </div>
    <!--<%= image_tag "arrow_up.png", :width => 100, :class => "arrow-up" %>
    <%= image_tag "arrow_left.png", :width => 230, :class => "arrow-left" %>-->
  </div>
<% end %>