<div class="container">
	<iframe src="http://www.tkqlhce.com/click-5835159-10415728" width="0" height="0"></iframe>
	<div class="row">
		<div class="span3">
			<%= render 'layouts/filter' %>
		</div>

		<div class="span8 offset1">
			<% @flights.each do |flight| %>

			<% original_link = "https://travel.travelocity.com/checkout/CheckoutReview.do?flightPath=TF&tripType=oneway#{(Time.now + 4*60*60).to_s[0..18].gsub(/\D/,'')}&locLink=OUTBOUND|NAT13GUAR&flightType=oneway&dateTypeSelect=exactDates&adults=1&children=0&minorsAge0=%3F&minorsAge1=%3F&minorsAge2=%3F&minorsAge3=%3F&minorsAge4=%3F&seniors=0&classOfService=ECONOMY&fareType=all&membershipLevel=NO_VALUE&airlineSearchPref=&leavingFrom=#{Airport.find(flight.departure_airport_id).code}&goingTo=#{Airport.find(flight.arrival_airport_id).code}&leavingDate=#{flight.departure_time.strftime('%m %d %Y').gsub(' ', '%2F')}&dateLeavingTime=Anytime&originalLeavingTime=Anytime&lastSelectedLeg=36_47-64&selectedLeg0=&selectedLeg1=&selectedLeg2=&itinId=36&rid=309915462245727&originalPrice=&originalTotalPrice=" %>

	  	<div class="hero-unit origin<%= Airport.find(flight.departure_airport_id).code %> destination<%= Airport.find(flight.arrival_airport_id).code %> <%= flight.departure_time.to_date %>">

	  		<div class="top-half">
	  			<div class="price">$<%= flight.itinerary.price / 100 + 1 %></div>
	  			<div class="savings">Save <strong>$<%= (flight.itinerary.original_price - flight.itinerary.price) / 100 + 1 %></strong> off the original flight | <%= link_to "view original (and more expensive) flight", original_link %>)</div>
	  		</div>

	  		<div class="bottom-half">
		  		<table>
		  			<tr>
		  				<td class="label label-info">Depart</td>
		  				<td><%= Airport.find(flight.departure_airport_id).name %></td>
		  				<td><%= flight.departure_time.strftime('%B %d, %Y') %></td>
		  				<td><%= flight.departure_time.strftime("%I:%M%p") %></td>
		  			</tr>
		  			<tr>
		  				<td class="label label-info">Arrive</td>
		  				<td><%= Airport.find(flight.arrival_airport_id).name %></td>
		  				<td><%= flight.arrival_time.strftime('%B %d, %Y') %></td>
		  				<td><%= flight.arrival_time.strftime("%I:%M%p") %></td>
		  			</tr>
			  	</table>
			  	<div class="below-table">

			  		<% shortcut_link = "https://travel.travelocity.com/checkout/CheckoutReview.do?flightPath=TF&tripType=oneway#{(Time.now + 4*60*60).to_s[0..18].gsub(/\D/,'')}&locLink=OUTBOUND|NAT13GUAR&flightType=oneway&dateTypeSelect=exactDates&adults=1&children=0&minorsAge0=%3F&minorsAge1=%3F&minorsAge2=%3F&minorsAge3=%3F&minorsAge4=%3F&seniors=0&classOfService=ECONOMY&fareType=all&membershipLevel=NO_VALUE&airlineSearchPref=&leavingFrom=#{Airport.find(flight.departure_airport_id).code}&goingTo=#{Airport.find(flight.itinerary.destination_airport_id).code}&leavingDate=#{flight.departure_time.strftime('%m %d %Y').gsub(' ', '%2F')}&dateLeavingTime=Anytime&originalLeavingTime=Anytime&lastSelectedLeg=36_47-64&selectedLeg0=&selectedLeg1=&selectedLeg2=&itinId=36&rid=309915462245727&originalPrice=&originalTotalPrice=" %>

			  		<a href="<%= shortcut_link %>"><button type="submit" class="btn btn-success btn-large">Book</button></a>

			  		<div class="flight-no"><%= flight.airline %> Flt: <%= flight.flight_no %></div>
			  	</div>
		  	</div>
	  	</div>
	  	<% end %>
		</div>
	</div>
</div>