<iframe src="http://www.tkqlhce.com/click-5835159-10415728" width="0" height="0"></iframe>
<div class="container">
	<div class="row">
		<div class="span3">
			<div class="top-bar">
				<div class="navbar">
					<ul class="nav">
						<div class="hard-links"><%= render 'layouts/flight_filter' %></div>
						<div><%= render 'layouts/top_filter' %></div>
					</ul>
				</div>
			</div>
		</div>
		<div class="span8 offset1 all-flights">
			<div>
				<%= render 'layouts/alerts' %>
			</div>
			<div class="loading hide">
				<%= image_tag "loading.gif" %>
			</div>
			<!-- <img src="http://i29.photobucket.com/albums/c275/electricnomad/Animated%20GIF%20part%20II/penis-punch.gif" %></div> -->
			<%= render 'flights' %>
		</div>
	</div>
</div>
