<div id="top"></div>
<div class="container">
  <iframe src="http://www.tkqlhce.com/click-5835159-10415728" width="0" height="0"></iframe>
  
  <div class="row intro">
    <div class="span12">
      Hi Adrian
      <button type="button" class="btn btn-primary loading" data-loading-text="Loading...">See Shortcut Flights</button>
    </div>
  </div>

  <% if @flights %>

  <div class="row">
    <div class="span3">
      <%= render 'layouts/filter' %>
    </div>

    <div class="span8 offset1">
      <% @flights.each do |flights_array| %>
      <% flight = flights_array[0] %>
      <% non_stop = flights_array[1] %>
      <% non_stop.rounded_price %>
      <% flight.rounded_price %>

      <div class="hero-unit origin<%= flight.departure_airport_code %> destination<%= flight.arrival_airport_code %> <%= flight.departure_time.to_date %>">

        <div class="top-half">
          <div class="price">$<%= flight.rounded_price %></div>
          <div class="savings">Save <strong>$<%= non_stop.rounded_price - flight.rounded_price %></strong> off the <%= link_to "original flight", offsite_flight_path(flight, original: true) %></div>
        </div>

        <div class="bottom-half">
          <table>
            <tr>
              <td class="label label-info">Depart</td>
              <td><%= flight.departure_airport_name %></td>
              <td><%= flight.departure_time.strftime('%B %d, %Y') %></td>
              <td><%= flight.departure_time.strftime("%I:%M%p") %></td>
            </tr>
            <tr>
              <td class="label label-info">Arrive</td>
              <td><%= flight.arrival_airport_name %></td>
              <td><%= flight.arrival_time.strftime('%B %d, %Y') %></td>
              <td><%= flight.arrival_time.strftime("%I:%M%p") %></td>
            </tr>
          </table>
          <div class="below-table">
            <a href="<%= offsite_flight_path(flight, original: false) %>"><button type="submit" class="btn btn-success btn-large">Book</button></a>

            <div class="flight-no"><%= flight.airline %> Flt: <%= flight.flight_no %></div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <% end %>

</div>
<div id="bot"></div>
