<div id="logo">
	<a href="/"><img src="/img/flyshortcut_logo_with_tagline_transparent.png"></a>
</div>
<div class="header-links">
  <!-- <%= link_to "About", "/#panel2" %> ⋅ <a id="signup-link" class="hidden" href="#" title="Sign up" data-content="We will let you know about new routes and really big epic wins!">Sign up for alerts</a><a id="close-link" href="#">Close sign up box</a> ⋅ <%= mail_to('david@dwakventures.com', "Contact", :cc => 'adrian@dwakventures.com', :encode => "hex", :subject => "From FlyShortcut", :class => 'contact-us', :target => "_blank") %> -->
  <%= link_to "About", "/#panel2" %> ⋅ <%= link_to "Blog", "/blog" %> ⋅ <a id="signup-link" class="hidden" href="#" title="Sign up" data-content="We will let you know about new routes and really big epic wins!">Sign up for alerts</a><a id="close-link" href="#">Close sign up box</a> ⋅ <%= mail_to('dstwen@outlook.com', "Contact", :encode => "hex", :subject => "From FlyShortcut", :class => 'contact-us', :target => "_blank") %>
</div>