<!DOCTYPE html>
<html>
<head>
  <title>Fly Shortcut</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<body>
	<div id='dw'>
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
